<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">



<main>

  <p>Michael Johas Teener is currently a Networking and Connectivity Plumbing Architect, particularly for
    time-sensitive and low-cost networks. Formerly he was Plumbing Architect/ Distinguished Engineer at Broadcom with
    major
    responsibilities for time-sensitive and high performance/low cost network technologies. From 2002
    until 2004
    he was Plumbing Architect at Apple, a title that he also held from 1988 until 1996. Between his two
    stints
    at Apple he was Chief Technology Officer of Zayante, Inc., a FireWire technology provider he
    co-founded in
    1996 and was acquired by Apple in 2002. He was the chief architect of Apple's Firewire technology,
    and was a
    major contributor to much of the technology now consolidated under the 1394 standards. His career
    began in
    Santa Monica doing simulation, real-time software and computer hardware design for very leading-edge
    radar
    and sonar systems, and was later the primary hardware architect for two early digital PBXs
    (including the
    first use of Ethernet in a distributed telephone switching system).</p>
  <p>He was the instigator and original chair of the IEEE 802.1 Time-Sensitive Networking Task Group (formerly known
    as the Audio-Video Bridging Task Group), the original co-chair of the IEEE 1722.1 Discovery, Enumeration,
    Configuration, and Control Working Group, the former chair and editor of IEEE Std 1394-1995, the originator and
    editor of IEEE Std 1394b -2002 gigabit/long distance supplement, and the chair
    and editor of IEEE Std 1394c-2006 gigabit/CAT5 supplement. In 2009, Mr. Johas Teener received the
    IEEE
    Standards Medallion for "exceptional leadership, clarity of vision, and perseverance in the effort
    to
    develop and standardize IEEE 802.1 Audio/Video Bridging".</p>

  <p>
    Mr. Johas Teener received a BS from Caltech in 1971, an MS from UCLA in 1976, and holds over 70 patents, mostly
    related to telecom, FireWire, and time sensitive networking.
  </p>

  You can contact him using his I-Name: =Michael.Johas.Teener, which, unfortunately is not a technology
  that is
  catching on ... instead we use OpenID (https://creativecommons.net/mikejt/) or just Google
  (https://www.google.com/search?as_q=michael%20johas%20teener) or, God help us all, social networks like
  LinkedIn
  or Facebook.
</main>




</body>

</html>